body {
  margin-top: 20px;
  background: #f8f8f8;
}

.card {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  background: #fff;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
  background: #f7f7f7;
  gap: 5px;
  margin: 5px 0;
}

.todo-item.complete span {
  text-decoration: line-through;
  color: gray;
}

.checker { margin-right: 10px; cursor: pointer; }
.todo-item span { flex: 1; }
.todo-nav { margin-top: 10px; }
.todo-list { margin: 10px 0; }
.remove-todo-item { color: #ccc; }
.remove-todo-item:hover { color: #5f5f5f; }
div.checker, div.checker input, div.checker span { width: 18px; height: 18px; cursor: pointer; }

/* Sidebar Lists & Items */
.list-of-lists li, .all-items-list li { display: flex; flex-direction: column; padding: 10px; }
.list-of-lists li div, .all-items-list li div { display: flex; gap: 5px; flex-wrap: wrap; }

/* Collapse Header */
.collapse-header { font-weight: bold; cursor: pointer; margin-bottom: 5px; display: flex; justify-content: space-between; }
